<app-formulario textoTitulo="REGISTRAR" textoBoton="Registrar" (enviar)="registrar($event)">
    <div class="text-center">
        <p>¿Ya está registrado? <a routerLink="/login">Iniciar Sesión</a></p>
    </div>
</app-formulario>

@if(mostrar) {
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: block;"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">INFORMACIÓN</h5>
                </div>
                <div class="modal-body">
                    {{ texto }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="mostrar = false">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}