#user{
    width: 15%;
    background-color: rgb(74, 74, 107);
}

#game-container {
    width: 85%;
    height: 50%;
    justify-content: space-around;
}

.card {
    padding: 10px;
    border: 2px solid white;
    color: white;
    background-color: rgb(74, 74, 107);
    width: 20%;
}

.card-img-top {
    height: 150px;
}

.card-title {
    margin-bottom: 30px;
}

