<div id="container" class="w-100 vh-100 d-flex m-auto">
    <aside id="user" class="text-light d-flex">
        <div id="data" class="d-flex w-100 mt-3 flex-column align-items-center">
            <img src="../../../assets/img/usuario.png" class="w-80 h-25" alt="foto-perfil">
            <h5>USUARIO</h5>
            <h6>{{usuario?.email}}</h6>
        </div>
    </aside>
    <div id="game-container" class="m-auto d-flex flex-row">
        <div class="card">
            <img class="card-img-top" src="../../../assets/img/juegos/ahorcado.png" alt="Ahorcado">
            <div class="card-body">
                <h5 class="card-title">AHORCADO</h5>
                <a class="btn btn-primary w-100">JUGAR</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/img/juegos/mayor_menor.png" alt="Mayor o menor">
            <div class="card-body">
                <h5 class="card-title">MAYOR O MENOR</h5>
                <a class="btn btn-primary w-100">JUGAR</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/img/juegos/preguntados.png" alt="Preguntados">
            <div class="card-body">
                <h5 class="card-title">PREGUNTADOS</h5>
                <a class="btn btn-primary w-100">JUGAR</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/img/logo.png" alt="Juego personalizado">
            <div class="card-body">
                <h5 class="card-title">JUEGO 4</h5>
                <a class="btn btn-primary w-100">JUGAR</a>
            </div>
        </div>
    </div>
</div>