<juego titulo="MAYOR O MENOR" (mostrarEstadisticas)="cambiarEstadisticas($event)" (mostrarReglas)="cambiarReglas($event)">
    <div id="content" class="d-flex w-75 flex-column justify-content-center m-auto">
        <div id="datos-partida" class="w-100 p-2 mb-5 bg-secondary rounded">
            <h5>INTENTOS RESTANTES: {{ vidas }}</h5>
            <h5>CARTAS ACERTADAS: {{ aciertos }} </h5>  
            <h5>MAZO RESTANTE: {{ cartas.length }}</h5>
        </div>
        <div class="w-100">
            <div class="m-auto mb-4 carta">
                <div class="card card-body text-danger border-2 border-dark">
                    <h4>?</h4>
                </div>
            </div>
            <div class="mb-4 w-100">
                <div id="table" class="bg-success p-4 w-100 m-auto rounded-pill">
                    <h5>CARTA TIRADA</h5>
                    <div class="carta m-auto card card-body text-danger border-2 border-dark bn-danger">
                        <h4>{{ cartaTirada }}</h4>
                    </div>
                    @if(cartas.length < 47) {
                        @if(acertado) {
                            <h5 class="text-light">CORRECTO</h5>
                        }
                        @else {
                            <h5 class="text-danger">INCORRECTO</h5>
                        }
                    }
                </div>
            </div>
            @if(!pierde) {
                <div id="opciones">
                    <h4>LA PRÓXIMA CARTA ES</h4>
                    <button class="btn btn-success" (click)="jugarCarta('MAYOR')">MAYOR</button>
                    <button class="btn btn-danger" (click)="jugarCarta('MENOR')">MENOR</button>
                    <br>
                    <button class="btn btn-secondary" (click)="terminarPartida()">TERMINAR PARTIDA</button>
                </div>
            }
            @else {
                <div id="opciones">
                    <h4 class="text-danger">GAME OVER</h4>
                    <button class="btn btn-danger" (click)="iniciarDatos()">JUGAR OTRA VEZ</button>
                </div>
            }
        </div>
    </div>
</juego>

@if(reglas || estadisticas) {
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: block;" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center text-light" [ngStyle]="{'background-color':'rgb(181, 166, 148)'}">
                <div class="modal-header">
                    <h5>{{ reglas ? 'REGLAS' : 'ESTADISTICAS' }}</h5>
                </div>

                <div class="modal-body">
                    <div id="body" class="w-75 p-4 m-auto rounded">
                        @if(reglas) {
                            <h4>OBJETIVO</h4>
                            <p>El objetivo es adivinar si la carta siguiente</p>
                            <p>es mayor o menor que la carta</p>
                            <p>que se encuentra en la mesa,</p>
                            <p>para esto se tienen 5 intentos.</p>
                            <p>El mazo está compuesto por 48 cartas,</p>
                            <p>nominadas del 1 al 12</p>
                        }
                        @else {
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            USUARIO
                                        </th>
                                        <th>
                                            CARTAS ACERTADAS
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(partida of partidas; track partida) {
                                    <tr>
                                        <td>{{ partida.usuario }}</td>
                                        <td>{{ partida.aciertos }}</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="reglas ? cambiarReglas(false): cambiarEstadisticas(false)" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}