#container {
    background-color: rgb(87, 143, 89);
}

#header h2 {
    width: 90%;
}

#header a {
    width: 10%;
}

.modal-content {
    background-color: rgb(181, 166, 148);
}

#body {
    background-color: rgb(173, 148, 121);
}

#partida {
    background-color: rgb(69, 104, 153);
}

#table {
    border: 4px solid rgb(55, 59, 56);
    -webkit-box-shadow: inset 0px 0px 66px -18px rgba(252, 240, 172, 1);
    -moz-box-shadow: inset 0px 0px 66px -18px rgba(252, 240, 172, 1);
    box-shadow: inset 0px 0px 66px -18px rgba(252, 240, 172, 1);
}

.carta {
    width: 60px;
}