<juego titulo="AHORCADO" (mostrarEstadisticas)="cambiarEstadisticas($event)" (mostrarReglas)="cambiarReglas($event)">
    <div id="content" class="d-flex w-100 flex-column justify-content-center m-auto">
        <div id="partida" class="d-flex flex-row mb-4 w-100 p-5 align-items-center rounded">
            <div id="img-fase" class=" w-20 h-100">
                <img [src]="url_imagen" class="rounded w-75 h-100" alt="fase_juego">
            </div>
            <div id="juego" class=" w-75">
                <div id="datos-partida" class="h-20">
                    <h5>INTENTOS RESTANTES: {{ vidas }}</h5>
                    <h5>ACIERTOS: {{ aciertos }}</h5>
                </div>
                <div class="h-75 mb-4">
                    <h3 class="text-light">{{ palabraEnJuego }}</h3>
                </div>

                @if(acertado) {
                    <b [ngStyle]="{'color': 'rgb(91, 224, 67)'}">CORRECTO</b>
                }
                @else if(finalizado) {
                    <b [ngStyle]="{'color': 'rgb(91, 224, 67)'}">FELICITACIONES!!!</b>
                }
                @else if(pierde) {
                    <b class="text-light">LA PALABRA ERA {{ palabraElegida }}</b>
                    <br>
                    <b [ngStyle]="{'color': 'rgb(252, 104, 78)'}">GAME OVER</b>
                    <br>
                    <button class="btn btn-danger" (click)="iniciarDatos()">JUGAR DE NUEVO</button>
                }
                @else {
                    <button class="btn btn-danger" (click)="terminarPartida()">TERMINAR PARTIDA</button>
                }
            </div>
        </div>
        <div id="teclado" class="w-100 rounded" [hidden]="finalizado || pierde">
            <table id="opciones" class="w-100">
                <tr class="letras">
                    @for(letra of letras; track letra) {
                        @if(letra <= "I") {
                            <td class="btn btn-secondary" (click)="jugarLetra(letra)" [class.disabled]="verificarLetra(letra)">{{ letra }}</td>
                        }
                    }
                </tr>
                <tr class="letras">
                    @for(letra of letras; track letra) {
                        @if((letra >= "J" && letra <= "Q") || letra == "Ñ") {
                            <td class="btn btn-secondary" (click)="jugarLetra(letra)" [class.disabled]="verificarLetra(letra)">{{ letra }}</td>
                        }
                    }
                </tr>
                <tr class="letras">
                    @for(letra of letras; track letra) {
                        @if(letra >= "R" && letra != "Ñ") {
                            <td class="btn btn-secondary" (click)="jugarLetra(letra)" [class.disabled]="verificarLetra(letra)">{{ letra }}</td>
                        }
                    }
                </tr>
            </table>
        </div>        
    </div>
</juego>

@if(reglas || estadisticas) {
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: block;" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center text-light" [ngStyle]="{'background-color':'rgb(181, 166, 148)'}">
                <div class="modal-header">
                    <h5>{{ reglas ? 'REGLAS' : 'ESTADISTICAS' }}</h5>
                </div>

                <div class="modal-body">
                    <div id="body" class="w-75 p-4 m-auto rounded">
                        @if(reglas) {
                            <h4>OBJETIVO</h4>
                            <p>El objetivo es adivinar la palabra oculta,</p>
                            <p>para esto se cuenta con 6 intentos.</p>
                            <p>Cada vez que se elija una letra que</p>
                            <p>no corresponda a la palabra, se avanzará</p>
                            <p>de fase (imagen) hasta agotar los intentos.</p>
                        }
                        @else {
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            USUARIO
                                        </th>
                                        <th>
                                            PALABRAS ACERTADAS
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(partida of partidas; track partida) {
                                    <tr>
                                        <td>{{ partida.usuario }}</td>
                                        <td>{{ partida.aciertos }}</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="reglas ? cambiarReglas(false): cambiarEstadisticas(false)" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}