<div id="container" class="card m-auto mt-5 col text-center d-flex flex-row justify-content-center">
    <div id="about-me" class="card-body  d-flex flex-column justify-content-center align-items-center">
        <h3 class="display-6 border-bottom border-dark">DATOS PERSONALES</h3>
        <p>Joel Manuel, Barrera</p>
        <p>22 años</p>
        <img src="../../../assets/img/foto.jpg" alt="foto_de_perfil" class="img-thumbnail rounded-circle w-50">
    </div>

    <div id="game-details" class="card-body w-100 d-flex flex-column align-items-center ">
        <div class="h-25">
            <h3 class="display-6 border-bottom border-dark">DETALLES DEL JUEGO</h3>
        </div>
        <div class="h-75 d-flex flex-column align-items-center">
            <h4>Explicación general</h4>
            <p>
                El juego elegido es un juego de reacción.
                Un juego de reacción consiste en demostrar habilidades relacionadas a la velocidad para realizar una actividad.
                El juego creado consiste en tocar el cuadro iluminado durante un intervalo aleatorio. Por cada cuadro tocado que no sea el iluminado se perderá una vida. 
            </p>
            <h4>¿Cómo se gana?</h4>
            <p>Se gana si al finalizar el tiempo se cuenta con un total de vidas y aciertos mayores a cero</p>
            <h4>¿Cómo se pierde?</h4>
            <p>Se pierde si finaliza el tiempo y hay un total de cero aciertos o se perdieron las tres vidas</p>
        </div>
    </div>
</div>
