<div id="container" class="card m-auto mt-5 col text-center d-flex flex-row justify-content-center">
    <div id="about-me" class="card-body  d-flex flex-column justify-content-center align-items-center">
        <h3 class="display-6 border-bottom border-dark">DATOS PERSONALES</h3>
        <p>Joel Manuel, Barrera</p>
        <p>22 años</p>
        <img src="../../../assets/img/foto.jpg" alt="foto_de_perfil" class="img-thumbnail rounded-circle w-50">
    </div>

    <div id="game-details" class="card-body w-100 d-flex flex-column align-items-center ">
        <h3 class="display-6 border-bottom border-dark">DETALLES DEL JUEGO</h3>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sit numquam neque pariatur mollitia modi illo! Quae reiciendis est suscipit, consectetur, corporis in nesciunt sit quas laudantium maiores quibusdam libero.
        Officiis, quidem doloremque. Provident, doloribus recusandae? Quia tempora libero fugiat, veritatis omnis odio. Id voluptates iste adipisci officia amet aliquam eius sed modi, tempora molestiae ab asperiores maxime similique. Veniam?
        Perspiciatis odit quibusdam dolorum debitis. Molestias, quis vel! Molestias accusamus, debitis, ex alias impedit soluta assumenda aperiam rerum maiores voluptatum eius dolor repellat omnis quaerat corrupti ea fugiat animi ratione.
        Cumque, aliquam doloremque necessitatibus modi odio reprehenderit corrupti cupiditate distinctio officiis sunt eaque natus ab vero ad architecto itaque eos ex inventore! Expedita dolore quibusdam voluptates necessitatibus sequi debitis corrupti?
        Deleniti alias ipsam illo quaerat repellat harum cupiditate ad perferendis voluptates obcaecati nisi numquam qui quisquam itaque aut eum, quo dolor illum cumque doloremque, reprehenderit delectus eius! Maiores, doloremque culpa.</p>
    </div>
</div>
