#opciones > button{
    width: 40%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(145, 219, 143);
    color: white;
    font-weight: bold;
}

#opciones > button:hover{
    background-color: rgb(174, 230, 172);
}

#opcion {
    width: 45%;
    margin: auto;
}

#img-pregunta > img{
    width: 300px;
    height: 250px;
}